
.container{
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-flow: wrap;
    margin-left: 50px;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 50px;
}
.container>div{
    display: grid;
}
#slideshow{
    padding-top: 200px;
}
.button_div{
    margin-left: 35%;
    margin-bottom: 50px;
}
.button{
    border-radius: 50px;
    font-size:14px;
    font-family: "PT Sans", sans-serif;
    line-height:19.6px;
    vertical-align:baseline;
    letter-spacing:normal;
    word-spacing:0px;
    margin:0px 10px;
    padding:10px 25px;
    font-weight:700;
}
.button:hover{
    background-color: RGB(216, 219, 249);
    cursor: pointer;
}
.sliderHeading{
    text-align: center;
    line-height:60px;
    justify-items: center;
    font-family:"PT Sans", sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin-top: 80px;
    margin-bottom: 50px;
}
.homeSlider{
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    
}
.jobList{
    margin: auto;
    padding: 2% 1%;
    display: grid;
    width: 28%;
    height: fit-content;
    gap: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.jobCard{
    display: flex;
    justify-content: space-between;
    color:#505E6B;
}
.jobCardIcon{
    display: flex;
    column-gap: 20px;
    color:#505E6B;
}
.jobDetail{
    display: flex;
    column-gap: 20px;
    color:#505E6B;
}
.btn-link{
    font-weight:700;
    color:rgb(116, 57, 255);
    display: flex;
    justify-content: flex-end;
}
.searchCreate{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 50px;
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 80px;
    margin-bottom: 50px;
    font-size: 20px;
}
.searchJob{
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 5%;
    color: #38404c;
}
.searchJob>img{
    width: 15%;
}
.employer{
    padding: 5%;
    background-color: RGB(242, 243, 248);
    display: flex;
    column-gap: 50px;
    font-size:30px;
}
.employer>h2{
    margin-left: 150px;
}

.btn1{
    font-size:20px;
    background-color: #fba504;
    color: #fff;
    box-shadow: 0 4px 10px 0 rgb(251 165 4 / 15%);
    padding: 1rem 2rem;
    font-size: 1.2rem;
    height: 4rem;
    font-weight: 700;
    margin-top: 30px;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 10px;
}
.btn2{
    font-size:20px;
    background-color: #8652ff;
    color: #fff;
    box-shadow: 0 4px 10px 0 rgb(251 165 4 / 15%);
    padding: 1rem 4rem;
    font-size: 1.2rem;
    height: 4rem;
    font-weight: 700;
    margin-top: 30px;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 10px;
}
.seniorRoles{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px 50px;
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 50px;
}
.roles{
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    align-items: center;
    gap: 20px;
    padding: 4%;
    color: #38404c;
}
.roles>img{
    width: 10%;
}
.explore{
    padding:6% 0 6% 5%;
    background-color: RGB(242, 243, 248);
    display: flex;
    gap: 70px;
    font-size:30px;
}


