
.container{
    display: flex;
    flex-flow: wrap;
    margin-left: 50px;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 50px;
   
}
.container>div{
    display: grid;
 
}
#slideshow{
    padding-top: 200px;
}
#slideshow:hover{
    cursor: pointer;
}
.assess-div{
    display: flex;
    padding-left: 40%;
    padding-right: 20%;
    align-items: center;
    gap:50px ;
}
.assess-items{
    background-color: transparent;  
}
.assess-items>img{
    background-color: transparent;
    padding: 10%;
    border-radius: 100%;
    width: 56px;
    height: 56px;
    
}
    
.button_div{
    margin-left: 35%;
    margin-bottom: 50px;
}
.button{
    border-radius: 50px;
    font-size:14px;
    font-family: "PT Sans", sans-serif;
    line-height:19.6px;
    vertical-align:baseline;
    letter-spacing:normal;
    word-spacing:0px;
    margin:0px 10px;
    padding:10px 25px;
    font-weight:700;
}
.button:hover{
    background-color: RGB(216, 219, 249);
    cursor: pointer;
}
.sliderHeading{
    text-align: center;
    line-height:60px;
    justify-items: center;
    font-family:"PT Sans", sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin-top: 80px;
    margin-bottom: 50px;
}
.homeSlider{
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    
}
.jobList{
    margin: auto;
    padding: 2% 1%;
    display: grid;
    width: 28%;
    height: fit-content;
    gap: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.jobList:hover{
    border:1px solid blue;
    cursor: pointer;
}
.jobCard{
    display: flex;
    justify-content: space-between;
    color:#505E6B;
}
.jobCardIcon{
    display: flex;
    column-gap: 20px;
    color:#505E6B;
}
.jobDetail{
    display: flex;
    column-gap: 20px;
    color:#505E6B;
}
.btn-link{
    font-weight:700;
    color:rgb(116, 57, 255);
    display: flex;
    justify-content: flex-end;
}
.searchCreate{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 50px;
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 80px;
    margin-bottom: 50px;
    font-size: 20px;
}
.searchJob{
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 5%;
    color: #38404c;
}
.searchJob>p:hover{
    color: #8652ff;
    cursor: pointer;
}
.searchJob>img{
    width: 15%;
}
.employer{
    padding: 4%;
    background-color: RGB(242, 243, 248);
    display: flex;
    /* column-gap: 50px; */
    font-size:30px;
}
.employer>h2{
    margin-left: 150px;
    margin-right: 40px;
}

.btn1{
    font-size:20px;
    background-color: #fba504;
    color: #fff;
    box-shadow: 0 4px 10px 0 rgb(251 165 4 / 15%);
    padding: 1rem 2rem;
    font-size: 1.2rem;
    height: 4rem;
    font-weight: 700;
    margin-top: 30px;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 10px;
}
.btn2{
    font-size:20px;
    background-color: #8652ff;
    color: #fff;
    box-shadow: 0 4px 10px 0 rgb(251 165 4 / 15%);
    padding: 1rem 4rem;
    font-size: 1.2rem;
    height: 4rem;
    font-weight: 700;
    margin-top: 30px;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 10px;
}
.seniorRoles{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px 50px;
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 50px;
}
.roles{
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    align-items: center;
    gap: 20px;
    padding: 4%;
    color: #38404c;
}
#btn-view{
    font-weight:700;
    color:rgb(116, 57, 255);
    display: flex;
    justify-content: center;
}
#btn-view:hover{
    cursor: pointer;
}
/* #model{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4)
}
.modal-content{
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}
.close {
    color: #aaa;
    float: right;
    font-size: 40px;
    font-weight: bold;
}
.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} */
.roles>img{
    width: 10%;
}
.explore{
    padding:6% 0 6% 5%;
    background-color: RGB(242, 243, 248);
    display: flex;
    justify-content: space-around;
    gap: 70px;
    font-size:30px;
}
.blog{
    background-color: #f0f0f0;
}
.blog-div{
    margin: auto;
    text-align: center;
    padding: 2% 1%;
    display: grid;
    width: 28%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.blog-div>img{
    width: 100%;
}
#blog-view{
    font-weight:700;
    color:rgb(116, 57, 255);
    display: flex;
    justify-content: center;
}
#blog-view:hover{
    cursor: pointer;
}

