*{
    font-family: sans-serif;
}
#vtop{
    display: flex;
    justify-content: end;
    align-items: center;
     gap: 40px;
     background-color: #F2F3F8;
     padding: 0% 6%;
     font-weight: bolder;
     color: #4c5157;
     font-size: 12px;
}
#vtop div{
    display: flex;
    align-items: center;
   
}
#vtop img{
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

#mainnav{
    background-color: white;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

#vmain{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 6%;
    margin: 10px 0px;
}
#vmain-1{
    display: flex;
    font-size: 12px;
}
#vmain-1>div:first-child{
    display: flex;
    margin-right: 30px;
    /* border: 1px solid; */
}
#vsearch{
    display: flex;
    border-radius: 8px;
    margin-top: 7px;
    margin-bottom: 20px;
}
#vsearch img{
    width: 14px;
}
#vmain-2{
    display: flex;
    justify-content: center;
    align-items: center;
}
#vmain-2>div{
    display: flex;
}
#vmain-2 button:first-child a{
    text-decoration: none;
}
#vmain-2 button:first-child a:hover{
    color: white;
}
#vmain-2 button:last-child a{
    text-decoration: none;
    color: white;
}
#vmain-2>div:first-child{
    margin-right: 30px;
}
#vmain-2 img{
    width: 16px;
    height: 16px;
}
#vmain-1>div>a>img{
    width: 70px;
    height: 50px;
}
/* #vmain-1>div:last-child{
   border: 1px solid;
}  */
#vsearch>input{
    padding: 12px;
    width: 80%;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius: 4px 0px 0px 4px;
}
#vsearch>button{
    width: 40px;
    background-color: #8652FF;
    border: none;
    border-radius: 0px 4px 4px 0px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}
#vsearch>button:hover{
    cursor: pointer;
    background-color: #7037f7;
}
#vsearch+div a{
    color: #8652FF;
    text-decoration: none;
}

#vmain-2>div button{
    margin-right: 20px;
    padding: 5px 15px;
    border-radius: 4px;
    font-weight: bold;
}
#vmain-2>div button:first-child{
    color: #8652FF;
    background-color: white;
    border: 1px solid #8652FF;
}
#vmain-2>div button:last-child{
    color: white;
    background-color: #8652FF;
    border: none;
}
#vmain-2>div button:first-child:hover{
    color: white;
    background-color: #8652FF;
    cursor: pointer;
}
#vmain-2>div button:last-child:hover{
    background-color: #7037f7;
    cursor: pointer;
}
#vmain-2>div img{
    margin-right: 20px;
}
#vmain-2>div img:hover{
    cursor: pointer;
}


#vbot{
    display: flex;
    padding: 20px 6%;
    margin-top: 20px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    
}
#vbot a,div,button{
    font-size: 12px;
    color: rgb(0, 0, 0);
    margin-right: 25px;
    text-decoration: none;
    font-weight: bold;
    background:transparent;
    border: none;
}
#vbot>div a{
    font-size: 11px;
    color: rgb(63, 63, 63);
    margin-right: 25px;
    text-decoration: none;
    font-weight: bold;
    background:transparent;
    border: none;
}

 /* Style The Dropdown Button */
      
 .dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {background-color: #f1f1f1}
  .dropdown:hover .dropdown-content {
    display: block;
  }
