*{
    font-family: sans-serif;
}

#vtop{
    display: flex;
    justify-content: end;
    align-items: center;
     gap: 40px;
     background-color: #F2F3F8;
     padding: 0% 6%;
     font-weight: bolder;
     color: #4c5157;
     font-size: 12px;
}
#vtop div{
    display: flex;
    align-items: center;
   
}
#vtop img{
    width: 16px;
    height: 16px;
    margin-right: 8px;
}


h1{
    font-size: 24px;
}
#vimg{
    padding: 8px 6%;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
#vimg img{
    width: 6%;
}

#vsign{
    width: 80%;
    margin: auto;
    text-align: center;
    
    margin-top: 40px;
    margin-bottom: 70px;
}
#vres{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #8652FF;
    width: 40%;
    margin: auto;
    padding: 0px 30px;
    border-radius: 4px;
}
#vres>div>img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
} 
#vres>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #8652FF;
    font-weight: bold;
    font-size: 14px;
}
.vsp{
    font-size: 12px;
}
#vsp-2{
    display: flex;
    justify-content: start;
    margin-top: 2px;
}
#vhrp{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52%;
    margin: auto;
    padding: 0px 10px;
    font-size: 12px;
    font-weight: bold;
}
#vhrp hr{
    height: 0px;
    width: 100px;
}


.vinp{
    display: flex;
    justify-content: start;
    gap: 20px;
    margin-top: 20px;
}
.vinp>input{
    padding: 10px;
    width: 46%;
    border-radius: 4px;
    border: 1px solid gray;
}
.vinp>select{
    padding: 10px;
    width: 49%;
    border-radius: 4px;
    border: 1px solid gray;
}
#lastinp{
    padding: 10px;
    width: 97%;
    margin-top: 20px;
    border-radius: 4px;
    border: 1px solid gray;
}



#vsign{
    display: flex;
    padding: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
#vsign-1{
    padding: 30px;
    width: 70%;
}
#vsign-2{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#vsign-2>div>div>img{
    width: 20px;
    height: 20px;
    margin-right: 20px;
}
#vsign-2>div:first-child{
    display: grid;
}
#vsign-2>div:first-child hr{
    height: 80px;
}
#vsign-2>div:last-child>div{
    display: flex;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 0px 10px;
    font-size: 13px;
    font-weight: bold; 
    justify-content: center;
    align-items: center;
    color: #6D7883;
}
#vsign-2>div>div:first-child img{
    margin-left: -10px;
}
#vsign-2>div>div:last-child img{
    width: 30px;
}

.vsp+button{
    display: flex;
    background: transparent;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    border: 1px solid #8652FF;
    padding: 0px 50px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 13px;
} 
.vsp+button>img{
    width: 20px;
    margin-right: 20px;
}
#vterm{
    display: flex;
    font-size: 13px;
    justify-content: center;
    align-items: center;
} 
#vterm>p>a{
    color: #8652FF;
    text-decoration: none;
}
#vterm>input{
     margin-right: 15px;
}
#vsign-1>button:last-child{
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #8652FF;
    margin-top: 30px;
    border: none;
    border-radius: 4px;
}